<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <div>
            <form action="/" method="POST">
                <input type="text" placeholder="Ny punkt i listan" name="todo" required />
                <button type="submit">Lägg till</button>
            </form>

            <a href="/?sort=1">Sortera (A-Ö)</a>
            <a href="/?sort=-1">Sortera (Ö-A)</a>
        </div>
        
        <main class="container">
            <div class="row d-flex flex-column align-items-center">
                <% for (let i = 0; i < array.length; i++) { %>
                <div class="col-6 border">
                    <div class="d-flex flex-grow">
                        <span><%= array[i].text %></span>
                    </div>
                    <div class="justify-content-end">
                        <a href="/edit/<%=array[i]._id%>">Redigera</a> | <a href="delete/<%= array[i]._id %>">Ta bort</a> | <a href="/complete/<%=array[i]._id%>">complete</a>
                        <% if (array[i].isCompleted) {%><span>✓</span><%}%> 
                    </div>
                </div>
                <% } %>
            </div>
        </main>

    </body>
</html>